.directionsBack {
  visibility: hidden;
}

.directionsFrom {
  display: none;
}

.directionsTo {
  visibility: hidden;
}

.directionsExtended {
  padding: 1em;
}

.gDirections {
  display: none;
}

input.saddr,
input.daddr {
  width: 130px;
}

#facebox .content {
  clear: both;
}

#facebox .footer {
  border-bottom: none;
}

.small {
  font-size: 0.8em;
}

input.gdriving_submit {
  width: 90px;
  font-size: 1.05em;
}